[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alpaca"]
	path = alpaca
	url = https://github.com/amrei-stammann/alpaca
[submodule "bife"]
	path = bife
	url = https://github.com/amrei-stammann/bife
